In [1]:
from path import Path
import pandas as pd
import os
import yfinance as yf
import investpy

In [2]:
btc = Path("BTCUSDT.csv")
etc = Path("ETCUSDT.csv")
ada = Path("ADAUSDT.csv")
bnb = Path("BNBUSDT.csv")
doge = Path("DOGEUSDT.csv")
eth = Path("ETHUSDT.csv")
neo = Path("NEOUSDT.csv")
trx = Path("TRXUSDT.csv")
xlm = Path("XLMUSDT.csv")
xrp = Path("XRPUSDT.csv")

In [3]:
os. getcwd()

'C:\\Users\\Jacks\\Desktop\\New Fintech\\Project-2\\crypto_data'

In [157]:
# import coin csv 
# BTC
df = pd.read_csv(btc, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume BTC", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
BTC = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["BTC/USD Price", "BTC hourly change"]
BTC.columns = C

# ADA
# import coin csv 
df = pd.read_csv(ada, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume ADA", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
ADA = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["ADA/USD Price", "ADA hourly change"]
ADA.columns = C

# BNB
# import coin csv 
df = pd.read_csv(bnb, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume BNB", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
BNB = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["BNB/USD Price", "BNB hourly change"]
BNB.columns = C

# DOGE
# import coin csv 
df = pd.read_csv(doge, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume DOGE", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
DOGE = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["DOGE/USD Price", "DOGE hourly change"]
DOGE.columns = C

# ETC
# import coin csv 
df = pd.read_csv(etc, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume ETC", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
ETC = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["ETC/USD Price", "ETC hourly change"]
ETC.columns = C

# ETH
# import coin csv 
df = pd.read_csv(eth, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume ETH", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
ETH = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["ETH/USD Price", "ETH hourly change"]
ETH.columns = C

# NEO
# import coin csv 
df = pd.read_csv(neo, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume NEO", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
NEO = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["NEO/USD Price", "NEO hourly change"]
NEO.columns = C

# TRX
# import coin csv 
df = pd.read_csv(trx, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume TRX", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
TRX = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["TRX/USD Price", "TRX hourly change"]
TRX.columns = C

# XLM
# import coin csv 
df = pd.read_csv(xlm, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume XLM", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
XLM = df.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["XLM/USD Price", "XLM hourly change"]
XLM.columns = C

# XRP
# import coin csv 
df = pd.read_csv(xrp, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
df = df.drop(columns = ["unix", "open","high","low","Volume XRP", "Volume USDT","tradecount"])
df["pct change"] = df["close"].pct_change()

# change datetime from object type to datetime format
df['date'] = pd.to_datetime(df['date'])

# separating datetime into separate columns
df['Dates'] = pd.to_datetime(df['date']).dt.date
df['Time'] = pd.to_datetime(df['date']).dt.time

# dropping original date
df = df.drop(columns = "date")

# setting column names 
XRP = df.drop(columns = "symbol")
C = ["XRP/USD Price", "XRP hourly change", "Dates", "Time",]
XRP.columns = C

In [169]:

XRP = XRP.reset_index().drop(columns = "index")
XRP = XRP[["Dates", "Time","XRP/USD Price", "XRP hourly change"]]
XRP["4hrs change"] = XRP["XRP/USD Price"].pct_change(periods = 4)
XRP["8hrs change"] = XRP["XRP/USD Price"].pct_change(periods = 8)
XRP["12hrs change"] = XRP["XRP/USD Price"].pct_change(periods = 12)
XRP["24hrs change"] = XRP["XRP/USD Price"].pct_change(periods = 24)
XRP.tail(20)
XRP["4hrs change"] = XRP["4hrs change"].shift(-4)
XRP[

,Dates,Time,XRP/USD Price,XRP hourly change,4hrs change,8hrs change,12hrs change,24hrs change
0,2020-08-01,23:00:00,0.29089,0.29089,0.115611,NaN,NaN,NaN
1,2020-08-02,00:00:00,0.29085,-0.000138,-0.047172,NaN,NaN,NaN
2,2020-08-02,01:00:00,0.29465,0.013065,-0.038520,NaN,NaN,NaN
3,2020-08-02,02:00:00,0.31217,0.05946,-0.078323,NaN,NaN,NaN
4,2020-08-02,03:00:00,0.32452,0.039562,-0.059996,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
14763,2022-04-09,20:00:00,0.7595,-0.002102,0.002502,-0.004718,-0.003412,-0.003934
14764,2022-04-09,21:00:00,0.7624,0.003818,NaN,0.001971,-0.000393,0.003158
14765,2022-04-09,22:00:00,0.7602,-0.002886,NaN,-0.000132,-0.003147,0.004891
14766,2022-04-09,23:00:00,0.7622,0.002631,NaN,0.009670,-0.000131,0.009670
14767,2022-04-10,00:00:00,0.7614,-0.00105,NaN,0.004088,-0.002228,0.003426

In [79]:
BTC

                     BTC/USD Price  BTC hourly change
Dates      Time
2017-08-17 04:00:00        4308.83                NaN
           05:00:00        4315.32           0.001506
           06:00:00        4324.35           0.002093
           07:00:00        4349.99           0.005929
           08:00:00        4360.69           0.002460
...                            ...                ...
2022-09-04 20:00:00       42423.18          -0.002088
           21:00:00       42558.06           0.003179
           22:00:00       42543.42          -0.000344
           23:00:00       42753.97           0.004949
2022-10-04 00:00:00       42653.69          -0.002346

[40704 rows x 2 columns]

In [59]:
# # import coin csv 
# def coins(X):
#     df = pd.read_csv({X}, skiprows=[0], parse_dates = True, infer_datetime_format = True).sort_index(ascending = False)
#     df = df.drop(columns = ["unix", "open","high","low","Volume {X}", "Volume USDT","tradecount"])
#     df["pct change"] = df["close"].pct_change()
    
#     # change datetime from object type to datetime format
#     df['date'] = pd.to_datetime(df['date'])
    
#     # separating datetime into separate column
#     df['Dates'] = pd.to_datetime(df['date']).dt.dat
#     df['Time'] = pd.to_datetime(df['date']).dt.time

#     # dropping original date
#     df = df.drop(columns = "date")

#     # setting column names 
#     X = df.set_index(["Dates","Time"]).drop(columns = "symbol")
#     C = ["{X}/USD Price", "{X} hourly change"]
#     X.columns = C
    
    
#     return X

# coins(ETC)

In [ ]:
# how to concat all dataframes

In [45]:
# # looping through all coins data
# import pandas as pd
# import glob

# path = r'C:\\Users\\Jacks\\Desktop\\New Fintech\\Project-2\\crypto_data' # use your path
# all_files = glob.glob(path + "/*.csv")

# li = []

# for filename in all_files:
#     df = pd.read_csv(filename, skiprows=[0]).sort_index(ascending = False)
#     df = df.drop(columns = ["unix", "open","high","low", "Volume USDT","tradecount"])
#     df["pct change"] = df["close"].pct_change()
#     li.append(df)

# # frame = pd.concat(li, axis=0, ignore_index=True)
# # frame
# li

In [7]:
# # loading all csv in
# path = '../crypto_data'
# os.chdir(path)
# dir_list = os.listdir(path)

# df = pd.DataFrame()
# # print("Loop Progress:")
# for file in dir_list:
#     if file.endswith('.csv'):
#         print("Adding to Dataframe",file)
#         sheet_df = pd.concat([pd.read_csv(file)])
#         df = df.append(sheet_df, ignore_index = True)
#         print("complete:",file)
# df

In [113]:
# stocks price

# Get the data for the SPY ETF by specifying the stock ticker, start date, and end date
data = yf.download(['AAPL', "MSFT", "AMZN", "FB", "GOOGL", "TSLA", "NVDA", "BRK-B", "JPM", "GOOG"],'2018-01-01','2022-01-01')
df_stocks = data["Adj Close"]
df_stocks

[*********************100%***********************]  10 of 10 completed

,AAPL,AMZN,BRK-B,FB,GOOG,GOOGL,JPM,MSFT,NVDA,TSLA
Date,,,,,,,,,,
2018-01-02,41.135746,1189.010010,197.220001,181.419998,1065.000000,1073.209961,95.053238,81.530228,49.372383,64.106003
2018-01-03,41.128605,1204.199951,199.789993,184.669998,1082.479980,1091.520020,95.150124,81.909660,52.621773,63.450001
2018-01-04,41.319633,1209.589966,200.690002,184.330002,1086.400024,1095.760010,96.513199,82.630585,52.899158,62.924000
2018-01-05,41.790070,1229.140015,201.419998,186.850006,1102.229980,1110.290039,95.893608,83.655052,53.347458,63.316002
2018-01-08,41.634842,1246.869995,202.740005,188.279999,1106.939941,1114.209961,96.035233,83.740417,54.982048,67.281998
...,...,...,...,...,...,...,...,...,...,...
2021-12-23,176.055695,3421.370117,294.489990,335.239990,2942.850098,2938.330078,155.172775,333.999390,296.349487,1067.000000
2021-12-27,180.100540,3393.389893,296.670013,346.179993,2961.280029,2958.129883,156.060837,341.743378,309.397308,1093.939941
2021-12-28,179.061859,3413.219971,298.290009,346.220001,2928.959961,2933.739990,156.534454,340.545837,303.168335,1088.469971
2021-12-29,179.151749,3384.020020,299.459991,342.940002,2930.090088,2933.100098,156.455521,341.244415,299.958893,1086.189941
2021-12-30,177.973251,3372.889893,299.980011,344.359985,2920.050049,2924.010010,156.376587,338.619843,295.809601,1070.339966

In [160]:
#commodities data

# market closes on Saturday
silver = investpy.get_commodity_historical_data(commodity="silver", from_date='01/01/2018', to_date='01/01/2022').Close.to_frame(name = "Silver Price")
# silver["Silver pct_change"] = silver.pct_change()
gold = investpy.get_commodity_historical_data(commodity="gold", from_date='01/01/2018', to_date='01/01/2022').Close.to_frame(name = "Gold Price")
# gold["Gold pct_change"] = gold.pct_change()
copper = investpy.get_commodity_historical_data(commodity="copper", from_date='01/01/2018', to_date='01/01/2022').Close.to_frame(name = "Copper Price")
# copper["Copper pct_change"] = copper.pct_change()
platinum = investpy.get_commodity_historical_data(commodity="platinum", from_date='01/01/2018', to_date='01/01/2022').Close.to_frame(name = "Platnium Price")
# platinum["Platnium pct_change"] = platinum.pct_change()
aluminum = investpy.get_commodity_historical_data(commodity="aluminum", from_date='01/01/2018', to_date='01/01/2022').Close.to_frame(name = "Aluminium Price")
# aluminum["Aluminum pct_change"] = aluminum.pct_change()
zinc = investpy.get_commodity_historical_data(commodity="zinc", from_date='01/01/2018', to_date='01/01/2022').Close.to_frame(name = "Zinc Price")
# zinc["Zinc pct_change"] = zinc.pct_change()

com = pd.concat([silver, gold, copper, platinum, aluminum, zinc], axis = 1).dropna()
com

C:\Users\Jacks\anaconda3\lib\site-packages\investpy\commodities.py:648: Warning: Note that the displayed commodity data can differ depending on the country. If you want to retrieve copper data from either united states or united kingdom, specify the country parameter.
  warnings.warn(msg, Warning)

,Silver Price,Gold Price,Copper Price,Platnium Price,Aluminium Price,Zinc Price
Date,,,,,,
2018-01-02,18.498,1400.1,3.3645,949.90,2267.00,3345.0
2018-01-03,18.563,1404.0,3.3515,956.10,2228.50,3329.5
2018-01-04,18.577,1407.3,3.3580,966.00,2250.00,3350.0
2018-01-05,18.604,1408.3,3.3290,974.90,2201.75,3352.5
2018-01-08,18.484,1407.4,3.3240,974.30,2173.00,3383.5
...,...,...,...,...,...,...
2021-12-22,22.792,1804.6,4.3815,961.15,2824.50,3531.5
2021-12-23,22.940,1814.0,4.3830,972.75,2846.00,3527.0
2021-12-29,22.848,1808.2,4.4030,968.80,2810.50,3513.0
2021-12-30,23.091,1816.6,4.3855,963.70,2818.00,3532.5
2021-12-31,23.381,1831.0,4.4535,965.80,2807.50,3534.0

In [15]:
# Quandl datas
# # Get the data for Coca-cola
# data = quandl.get("WIKI/KO", start_date="2018-01-01", end_date="2022-01-01", api_key= quandl_api)
# # Plot the prices
# nasdaqdatalink.get_table('MER/F1', paginate=True)\

# crude oil/natural gas/
# oil = nasdaqdatalink.get("EIA/PET_RWTC_D", start_date="2018-01-01", end_date="2022-01-01")
# oil

# coal = nasdaqdatalink.get(["LBMA/GOLD","LBMA/SILVER"], start_date="2018-01-01", end_date="2022-01-01")
# coal