In [1]:
# Initial imports
import nltk
import pandas as pd
from path import Path
from nltk.sentiment.vader import SentimentIntensityAnalyzer
# utilities
import re
import numpy as np
import pandas as pd
# plotting
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt
# nltk
from nltk.stem import WordNetLemmatizer
# sklearn
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

%matplotlib inline

# Download/Update the VADER Lexicon
nltk.download("vader_lexicon")

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\antho\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [15]:
# Elon Musk Sentiment Analysis

elonmusk_sentiment_analysis = Path("../Code/Twitter_API/Results/elon_musk_sentiment_analysis.csv")
elonmusk_sentiment_analysis = pd.read_csv(elonmusk_sentiment_analysis, encoding="utf-8-sig")
elonmusk_sentiment_analysis

,Unnamed: 0,index,id,conversation_id,created_at,date,user_id,username,name,tweet,text_compound,text_pos,text_neu,text_neg,text_sent
0,0,452,1461942451053252612,1461809183205036035,2021-11-20 10:20:16 Arabian Standard Time,2021-11-20,44196397,elonmusk,Elon Musk,WSBChairman Bitcoin cures cancer,-0.6597,0.000,0.405,0.595,-1
1,1,723,1452334458066149377,1452313323261861891,2021-10-24 22:01:32 Arabian Standard Time,2021-10-24,44196397,elonmusk,Elon Musk,Filasophical ShibaInuHodler Out curiosity I ac...,0.6369,0.133,0.867,0.000,1
2,2,726,1452332044743323654,1451929526284562436,2021-10-24 21:51:57 Arabian Standard Time,2021-10-24,44196397,elonmusk,Elon Musk,itsALLrisky TeslaGong mishaboar DogecoinFdn Po...,-0.0697,0.149,0.693,0.158,-1
3,3,1468,1420529868404518913,1420267443436462082,2021-07-29 03:41:27 Arabian Standard Time,2021-07-29,44196397,elonmusk,Elon Musk,heydave We dont many Bitcoin but its close,0.0000,0.000,1.000,0.000,0
4,4,1557,1417207016519454724,1417144324068974594,2021-07-19 23:37:37 Arabian Standard Time,2021-07-19,44196397,elonmusk,Elon Musk,jack BitcoinMagazine CathieDWood Sure I ton,0.3182,0.365,0.635,0.000,1
5,5,1558,1417204066552205332,1417144324068974594,2021-07-19 23:25:54 Arabian Standard Time,2021-07-19,44196397,elonmusk,Elon Musk,BitcoinMagazine jack CathieDWood During talk s...,0.0000,0.000,1.000,0.000,0
6,6,1849,1408246534093918210,1408246196603346947,2021-06-25 06:11:52 Arabian Standard Time,2021-06-25,44196397,elonmusk,Elon Musk,Thats not funny Bitcoin maxis,-0.3412,0.000,0.624,0.376,-1
7,7,1850,1408246196603346947,1408246196603346947,2021-06-25 06:10:31 Arabian Standard Time,2021-06-25,44196397,elonmusk,Elon Musk,How many Bitcoin maxis take screw lightbulb,-0.1027,0.000,0.811,0.189,-1
8,8,1852,1408244494567456769,1408102135040970759,2021-06-25 06:03:46 Arabian Standard Time,2021-06-25,44196397,elonmusk,Elon Musk,jack Oh right Bitcoin haha,0.4588,0.429,0.571,0.000,1
9,9,1885,1405482221666852871,1405479081655734274,2021-06-17 15:07:28 Arabian Standard Time,2021-06-17,44196397,elonmusk,Elon Musk,BitcoinMagazine jespow Based data,0.0000,0.000,1.000,0.000,0
10,10,1917,1404132183254523905,1404045922674302982,2021-06-13 21:42:54 Arabian Standard Time,2021-06-13,44196397,elonmusk,Elon Musk,Cointelegraph This inaccurate Tesla sold holdi...,0.8689,0.293,0.707,0.000,1
11,11,1975,1401091921746006017,1400560049358094340,2021-06-05 12:21:59 Arabian Standard Time,2021-06-05,44196397,elonmusk,Elon Musk,lexfridman VitalikButerin ethereum Bitcoin dog...,0.6908,0.322,0.678,0.000,1
12,12,1991,1400620080090730501,1400620080090730501,2021-06-04 05:07:04 Arabian Standard Time,2021-06-04,44196397,elonmusk,Elon Musk,Bitcoin httpstcolNnEfMdtJf,0.0000,0.000,1.000,0.000,0
13,13,2063,1396914548167233537,1396914548167233537,2021-05-24 23:42:36 Arabian Standard Time,2021-05-24,44196397,elonmusk,Elon Musk,Spoke North American Bitcoin miners They commi...,0.6222,0.220,0.780,0.000,1
14,14,2079,1395472799020421120,1395448299792920576,2021-05-21 00:13:36 Arabian Standard Time,2021-05-21,44196397,elonmusk,Elon Musk,TeslaGong wintonARK Bitcoin hashing aka mining...,0.6486,0.218,0.782,0.000,1
15,15,2114,1394170030741413888,1394051036462071808,2021-05-17 09:56:52 Arabian Standard Time,2021-05-17,44196397,elonmusk,Elon Musk,BTCArchive To clarify speculation Tesla not so...,0.0000,0.000,1.000,0.000,0
16,16,2118,1393993975019749382,1393971202738302986,2021-05-16 22:17:17 Arabian Standard Time,2021-05-16,44196397,elonmusk,Elon Musk,ChainLinkGod PeterMcCormack Bitcoin actually h...,-0.6258,0.000,0.876,0.124,-1
17,17,2119,1393991411524120576,1393960667372310535,2021-05-16 22:07:06 Arabian Standard Time,2021-05-16,44196397,elonmusk,Elon Musk,poisonouspinups michaelsaylor He wear outfit H...,0.0000,0.000,1.000,0.000,0
18,18,2141,1392602041025843203,1392602041025843203,2021-05-13 02:06:14 Arabian Standard Time,2021-05-13,44196397,elonmusk,Elon Musk,Tesla amp Bitcoin httpstcoYSswJmVZhP,0.0000,0.000,1.000,0.000,0
19,19,2252,1386821144037236737,1386797551794499592,2021-04-27 03:15:01 Arabian Standard Time,2021-04-27,44196397,elonmusk,Elon Musk,stoolpresidente No not I not sold Bitcoin Tesl...,-0.2960,0.000,0.885,0.115,-1
20,20,2516,1374619672973221892,1374617643446063105,2021-03-24 11:10:43 Arabian Standard Time,2021-03-24,44196397,elonmusk,Elon Musk,Pay Bitcoin capability available outside US la...,-0.1027,0.000,0.833,0.167,-1
21,21,2517,1374619379929772034,1374617643446063105,2021-03-24 11:09:34 Arabian Standard Time,2021-03-24,44196397,elonmusk,Elon Musk,Tesla using internal amp open source software ...,0.0258,0.052,0.948,0.000,0
22,22,2518,1374617643446063105,1374617643446063105,2021-03-24 11:02:40 Arabian Standard Time,2021-03-24,44196397,elonmusk,Elon Musk,You buy Tesla Bitcoin,0.0000,0.000,1.000,0.000,0
23,23,2598,1370449101402353669,1370449101402353669,2021-03-12 22:58:22 Arabian Standard Time,2021-03-12,44196397,elonmusk,Elon Musk,BTC Bitcoin anagram TBCThe Boring Company What...,-0.3182,0.000,0.753,0.247,-1
24,24,2764,1362600676174557186,1362582677199622145,2021-02-19 07:11:31 Arabian Standard Time,2021-02-19,44196397,elonmusk,Elon Musk,business To clear I not investor I engineer I ...,-0.2500,0.139,0.697,0.164,-1
25,25,2765,1362598034866118658,1362582677199622145,2021-02-19 07:01:02 Arabian Standard Time,2021-02-19,44196397,elonmusk,Elon Musk,business Teslas action not directly reflective...,-0.1548,0.107,0.759,0.134,-1
26,26,65,1340588909974200321,1340588909974200321,1608456277000.0,2020-12-20 09:24:37,44196397,elonmusk,Elon Musk,Bitcoin almost bs fiat money,0.0000,0.000,1.000,0.000,0
27,27,73,1340573003579617280,1340573003579617280,1608452485000.0,2020-12-20 08:21:25,44196397,elonmusk,Elon Musk,Bitcoin safe word,0.4404,0.592,0.408,0.000,1
28,28,283,1328458535340949505,1328428879334297600,1605564171000.0,2020-11-16 22:02:51,44196397,elonmusk,Elon Musk,MaisieWilliams Toss bitcoin ur Witcher,0.0000,0.000,1.000,0.000,0
29,29,1999,1261429085999296512,1261393885638639616,1589583104000.0,2020-05-15 22:51:44,44196397,elonmusk,Elon Musk,jkrowling I still Bitcoins btw,0.0000,0.000,1.000,0.000,0
30,30,2000,1261416824459030529,1261393885638639616,1589580181000.0,2020-05-15 22:03:01,44196397,elonmusk,Elon Musk,jkrowling Pretty much although massive currenc...,0.5859,0.242,0.758,0.000,1
31,31,2263,1256353943765921792,1256239815256797184,1588373096000.0,2020-05-01 22:44:56,44196397,elonmusk,Elon Musk,Bitcoin How much anime Bitcoin httpstcoitqRslFNcb,0.0000,0.000,1.000,0.000,0
32,32,2265,1256351293007736832,1256239815256797184,1588372464000.0,2020-05-01 22:34:24,44196397,elonmusk,Elon Musk,Bitcoin,0.0000,0.000,1.000,0.000,0
33,33,3297,1215528293266362368,1215526980449255424,1578639503000.0,2020-01-10 06:58:23,44196397,elonmusk,Elon Musk,bitcoinconf,0.0000,0.000,1.000,0.000,0
34,34,3298,1215526980449255424,1215526980449255424,1578639190000.0,2020-01-10 06:53:10,44196397,elonmusk,Elon Musk,Bitcoin not safe word,-0.3412,0.000,0.555,0.445,-1
35,35,6759,1054520588734058496,1054501056229588992,1540252275000.0,2018-10-22 23:51:15,44196397,elonmusk,Elon Musk,vicentes Grimezsz Wanna buy Bitcoin httpstcoZ...,0.0000,0.000,1.000,0.000,0
36,36,3354,1054520588734058496,1054501056229588992,1540252275000.0,2018-10-22 23:51:15,44196397,elonmusk,Elon Musk,vicentes Grimezsz Wanna buy Bitcoin httpstcoZ...,0.0000,0.000,1.000,0.000,0
37,37,494,1054520588734058496,1054501056229588992,1540252275000.0,2018-10-22 23:51:15,44196397,elonmusk,"Elon Musk, the 2nd",vicentes Grimezsz Wanna buy Bitcoin httpstcoZ...,0.0000,0.000,1.000,0.000,0

In [14]:
# Elon Musk Sentiment Analysis

generalpop_ethereum_sentiment_analysis_bigdataset = Path("../Code/Twitter_API/Results/generalpop_ethereum_sentiment_analysis_bigdataset.csv")
generalpop_ethereum_sentiment_analysis_bigdataset = pd.read_csv(generalpop_ethereum_sentiment_analysis_bigdataset, encoding="utf-8-sig")
generalpop_ethereum_sentiment_analysis_bigdataset

,Unnamed: 0,user_name,user_description,user_created,user_followers,user_friends,user_favourites,date,text,text_compound,text_pos,text_neu,text_neg,text_sent
0,0,#1 Crypto Currency TRADING,"Profit thought trading, Learn , Trade & Earnüí≤....",2021-11-10 10:42:01+00:00,4,0,0,2021-11-15 07:26:39+00:00,Get upto 1000 that‚Äôs 10x with our premium spot...,0.0000,0.000,1.000,0.0,0
1,1,Reyrey,Artist | NFT Broker & Collector for AnideaNFT ...,2011-03-07 07:22:57+00:00,343,650,589,2021-11-15 07:26:35+00:00,"Adopted a Hypocat #053, ‚ÄúCrazy Rich Cat‚Äù ü§ëüíµüíµüíµü§©...",0.5983,0.145,0.855,0.0,1
2,2,akter jahan,NaN,2021-10-28 13:28:05+00:00,1,2,0,2021-11-15 07:26:32+00:00,Top 10 Coins by Social Engagement over the las...,0.6239,0.145,0.855,0.0,1
3,3,riyan,i always paricipated your project,2021-09-16 16:59:11+00:00,11,127,99,2021-11-15 07:26:30+00:00,Requesting faucet funds into 0x5278942b39deD8c...,0.0000,0.000,1.000,0.0,0
4,4,Michelle Eriksen,"Art Creator, NFT, Crypto",2021-08-11 06:40:08+00:00,522,1428,16,2021-11-15 07:26:30+00:00,New Listing BTS 0.008ETH !! \n#NFTs #nftcolle...,0.0000,0.000,1.000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,DAIANA LAZZARIN,#NFTartist #NFTcollector\nhttps://t.co/labmD20...,2020-03-28 23:42:49+00:00,1539,729,4403,2021-11-14 13:43:00+00:00,Pepe the gunman II\n\nhttps://t.co/xTOJSvLwX9 ...,0.0000,0.000,1.000,0.0,0
9996,9996,frieslips.nft,"Mr. Fries has the ability to be anyone, but we...",2021-01-23 07:40:12+00:00,74,190,95,2021-11-14 13:42:56+00:00,@missteennfts üî• TOODLER 1:1 EDITION üî•\nPlease ...,0.3182,0.084,0.916,0.0,1
9997,9997,dave.,I draw something i into | NFT Artist ID üáÆüá©,2021-10-29 08:47:51+00:00,61,199,145,2021-11-14 13:42:42+00:00,Hello guys! mind to view my project at opensea...,0.7170,0.150,0.850,0.0,1
9998,9998,Crypto Whispers,Latest #cryptocurrencies news and market price...,2021-06-26 20:51:41+00:00,740,63,454,2021-11-14 13:42:31+00:00,Ethereum: One major misconception that will no...,0.0000,0.000,1.000,0.0,0
9999,9999,SorareBot by SorareData,Get alerted when a Sorare card is sold for 100...,2020-10-14 20:31:40+00:00,2035,0,2,2021-11-14 13:42:25+00:00,Giovanni Simeone bought for 0.238 ETH (1100.25...,0.0000,0.000,1.000,0.0,0

In [5]:
bitcoin_price = Path("../crypto_data/BTCUSDT.csv")
bitcoin_price = pd.read_csv(bitcoin_price, encoding="utf-8-sig", header=[1])
bitcoin_price = bitcoin_price.drop(columns=['unix'])
bitcoin_price

,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,10/04/2022 0:00,BTC/USDT,42753.96,42776.62,42653.68,42653.69,547.32868,23374135.52,23134.0
1,9/04/2022 23:00,BTC/USDT,42543.42,42800.00,42488.23,42753.97,1075.30723,45889601.98,30337.0
2,9/04/2022 22:00,BTC/USDT,42558.06,42634.88,42501.31,42543.42,439.09087,18693342.59,18922.0
3,9/04/2022 21:00,BTC/USDT,42423.18,42584.49,42390.00,42558.06,425.13616,18063585.63,19529.0
4,9/04/2022 20:00,BTC/USDT,42511.95,42638.00,42423.18,42423.18,419.45489,17846424.65,21083.0
...,...,...,...,...,...,...,...,...,...
40699,17/08/2017 8:00,BTC/USDT,4349.99,4377.85,4333.32,4360.69,0.94990,4139.70,NaN
40700,17/08/2017 7:00,BTC/USDT,4324.35,4349.99,4287.41,4349.99,4.44000,19241.06,NaN
40701,17/08/2017 6:00,BTC/USDT,4315.32,4345.45,4309.37,4324.35,7.23000,31282.31,NaN
40702,17/08/2017 5:00,BTC/USDT,4308.83,4328.69,4291.37,4315.32,23.23000,100304.82,NaN
40703,17/08/2017 4:00,BTC/USDT,16199.91,16199.91,4261.32,4308.83,44.51000,190952.85,NaN

In [19]:
googletrends_data = Path("../Google Trends/googletrends_data_results_v2.csv")
googletrends_data = pd.read_csv(googletrends_data, encoding="utf-8-sig")
googletrends_data = googletrends_data.rename(columns={'Unnamed: 0': 'date'})
googletrends_data = googletrends_data.drop(columns=['bitcoin_Close_x','ethereum_Close_x','tether_Close_x','bitcoin_Close_y','ethereum_Close_y',
                                                    'tether_Close_y', 'dogecoin_Close_x','dogecoin_Close_x']).
googletrends_data

,date,bitcoin,ethereum,tether,dogecoin,usd coin,bitcoin_Close,ethereum_Close,tether_Close,dogecoin_Close_y
0,2017-11-09,10.0,13.0,29.0,0.0,12.0,7143.580078,320.884003,1.008180,0.001415
1,2017-11-10,13.0,11.0,22.0,0.0,19.0,6618.140137,299.252991,1.006010,0.001163
2,2017-11-11,12.0,10.0,24.0,0.0,8.0,6357.600098,314.681000,1.008990,0.001201
3,2017-11-12,15.0,10.0,26.0,0.0,13.0,5950.069824,307.907990,1.012470,0.001038
4,2017-11-13,12.0,10.0,20.0,0.0,13.0,6559.490234,316.716003,1.009350,0.001211
...,...,...,...,...,...,...,...,...,...,...
1470,2021-11-18,12.0,35.0,25.0,1.0,20.0,56942.136719,4000.650879,0.999970,0.221383
1471,2021-11-19,11.0,32.0,29.0,1.0,15.0,58119.578125,4298.306641,1.000820,0.233110
1472,2021-11-20,10.0,28.0,28.0,1.0,19.0,59697.195312,4409.931152,1.000362,0.233024
1473,2021-11-21,9.0,24.0,29.0,1.0,14.0,58730.476562,4269.732910,1.000873,0.226328
1474,2021-11-22,10.0,29.0,21.0,1.0,13.0,56289.289062,4088.457764,1.000451,0.219676

In [10]:
""" MULTIPLE REGRESSION """

from sklearn.linear_model import LinearRegression

# Create the linear regression model
model = LinearRregression ()

# Fit the model to the data
model.fit(X_binary_encoded, y)

NameError: name 'LinearRregression' is not defined

In [ ]:
# Predicting y using x
predictions = model.predict(X_binary_encoded)

# Evaluating the model

import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

# R2 score
score = model.score(X_binary_encoded, y)
r2 = r2_score(y, predictions)

# MSE
mse = mean_squared_error(y, predictions)
# RMSE
rmse = np.sqrt(mse)

# Standard deviation of variable
np.std(y)

# Plotting
plt.scatter(X["Week_of_year"], y)
plt.plot(X["Week_of_Year"], predictions, color = "red")